.input-style{
    height: 30px;
    width: 300px;
   margin-top: 5px;
    margin-left: 40%;
}
.header-style{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    flex-direction: column;
}
.date-style{
    font-size: 20px;
    margin-left: 11%;
}
.style{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: center;
}